<div class="profil">
  <%= image_tag("logo.jpg", class:"logo") %>
  <h1>Bienvenue sur Intership</h1>
  <p>La plateforme qui va t'aider à trouver un stage, un emploi ou une alternance.<br>Tu peux retrouver ici toutes les offres disponibles.</p>
</div>

<% @offers.limit(3).each do |offer| %>
  <div class="card-body">
    <h3><b><%= offer.title %></b></h3>
    <p><b>Description:</b> <%= offer.description %></p>
    <p><b>Ville:</b> <%= offer.city %></p>
    <p><b>Rémunération:</b> <%= offer.salary %></p>
  </div>
<% end %>

<div class="d-grid gap-2 col-6 mx-auto">
  <%= link_to 'Voir plus', offers_path, class:"btn btn-dark" %>
</div>

