
<% if user_signed_in? %>
  <% if offer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

        <ul>
          <% offer.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <%= simple_form_for @offer do |f| %>
    <%= f.input :title  %>
    <%= f.input :description, as: :text %>
    <%= f.input :city %>
    <%= f.input :salary %>
    <%= f.button :submit, class:"btn btn-dark" %>
  <% end %>
<% else %>
  <p>Vous devez être connecté pour déposer une offre.</p>
  <%= link_to  'Connexion', new_user_session_path,  class:"btn btn-dark" %>
  <%= link_to  'Inscription', new_user_registration_path,  class:"btn btn-dark" %>
<% end %>

