<p id="notice"><%= notice %></p>

<h1>Offers</h1>


<ul class="list-group">
  <% @offers.each do |offer| %>
    <li class="list-group-item">
      <b><%= offer.title %><b>
      <p><%= offer.description %></p>
      <p><%= offer.city %></p>
      <p><%= offer.salary %></p>
      <%= link_to 'Show', offer %>
      <%= link_to 'Edit', edit_offer_path(offer) %>
      <%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>


        

<%= link_to 'New Offer', new_offer_path %>
