
<h1>Toutes les offres</h1>
<% @offers.each do |offer| %>
  <div class="card-body">
    <h4><b><%= offer.title %></b></h4>
    <p><b>Description:</b> <%= offer.description %></p>
    <p><b>Ville:</b> <%= offer.city %></p>
    <p><b>Rémunération:</b> <%= offer.salary %></p>
  </div>
<% end %>


        

<%= link_to 'Créer une offre', new_offer_path, class:"btn btn-dark" %>
